<fieldset
  class="form-group schema-form-fieldset {{form.htmlClass}}"
  ng-disabled="form.readonly"
  nullable-object>

  <div style="border: 1px solid #ddd; border-radius: 4px; padding: 5px 15px 10px">

    <div>
      <div style="font-size: 21px; border-bottom: 1px solid #ddd" ng-class="{'sr-only': !showTitle() }">{{ form.title }}</div>
      <div class="help-block" sf-message="form.description"></div>
    </div>

    <button
      class="btn btn-default"
      type="button"
      ng-if="!form.created"
      ng-click="createObject($event, form)"
      ng-disabled="form.readonly">

      <span class="glyphicon glyphicon-plus"></span>
      <span>Create Model</span>
    </button>

    <fieldset ng-if="form.created">
      <div sf-field-transclude></div>
    </fieldset>

  </div>
</fieldset>
